{% load staticfiles %}
<html>
    <head>
        <title>IMS</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        
        <link rel="stylesheet" href="{% static 'css/ansb.css' %}">
    </head>
    
    <body>
    <div class="page-header">
        <div class="info1">

        <img src="{% static "css/s.png" %}" alt="ITWORX"/>
        </div>
        <h3 > Powered by UNIX Team</h3>
        <div class="info">
        <h4>IMS</h4>
        <h2 >Infrastructure Managment System</h2>
        </div>
        
        
    </div>

    
    <div class="content-container">
       
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
  </body>



