{% load staticfiles %}
<html>
    <head>
        <title>IMS</title>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        
        <link rel="stylesheet" href="{% static 'css/ansb.css' %}">
    </head>
    
    <body>
    <div class="body">
    <div class="page-header">
        
        <div class="info">
        <h4>IMS</h4>
        <h2 >Infrastructure Managment System</h2>
        </div>


        <div class="info1">

        <img src="{% static "css/s.png" %}" alt="ITWORX"/>
       
        <h3 > Powered by UNIX Team</h3>

        </div>
        
        
        
        
    </div>

    
    <div class="content-container">
       
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
    </div>
  </body>



