{% extends 'ans/base.html' %}
{% load staticfiles %}
<body>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                           <h1 id= "choices">Instance Creation</h1>
                          <form method="POST" class="post-form">{% csrf_token %}
                           {{ form.as_p }}
                           <button type="submit" class="save btn btn-default">GO</button>
                          </form>

                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
