{% load staticfiles %}
<html>
    <head>
        <title>ITWORX</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/ans.css' %}">
        

    </head>
    <body>
    <div class="page-header">
            
            <h1 id= "blue_header">ITWORX</h1>
            <h1 id= "choices">New Entry</h1>
            <a href="{% url 'view_ansb' %}" class="top-menu"></a>
                          
    </div>
     <form method="POST" class="post-form">{% csrf_token %}
                           {% for field in form %}
                            <div class="fieldWrapper">
                             {{ field.errors }}
                             {{ field.label_tag }} {{ field }}
                              </div>
                           {% endfor %}
                           <button type="submit" class="save btn btn-default">Save</button>
                          </form>
    </body>
    
    
</html>

           