h1  {
    color: #FF0000;
    font-size:16pt ;
    font-style: italic;
    font-family: monospace;
}
#blue_header{
	color: #003366;
	font-size: 40pt;
	font-style: bold;
	text-align: left;

}
body {
}

#choices{
	color: #007766;
	font-size: 20pt;
	font-style: italic;
	text-align: center;

}
.page-header {
    background-color: #a6a6a6;
    margin-top: 0;
    padding: 10px 10px 0px 40px;
}

.row{
	margin-left: 300;
	text-align: center;

}

h3{
	color: #000000;
    font-size:10pt ;
    position: absolute;
    top: 100px;
    left: 50px;
    }
 h2{
	color: #000000;
    font-size:12pt ;
    position: absolute;
    top: 100px;
    left: 930px;
  }
 h4{
	color: #000000;
    font-size:70pt;
    text-align: center;
    position: absolute;
    top:10px;
    left: 960px;
    font-family: fantasy;
    font-style: bold;
    font-stretch: extra-expanded
  }
  button{
    background-color: #4CAF50;
    border: none;
    color: red;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

  }
