body {
  
}
.page-header {
    background-color: #a6a6a6;
    background-size: cover;
    margin-top: 0;
    padding: 50px 10px 30px 20px;

    }

.row{
  text-align: center;
  


  }
h4{
  color: #000000;
    font-size:70pt;
    font-family: fantasy;
    font-style: bold;
    font-stretch: extra-expanded;
    text-align: center;

  }
  h2{
    color: #000000;
    font-size:12pt;
    margin-top: -20px;

  }
h3{
  color: #000000;
    font-size:10pt ;
    
    }
 h1  {
    color: #FF0000;
    font-size:16pt ;
    font-style: italic;
    font-family: monospace;
}

#choices{
  color: #777766;
  font-size: 20pt;
  font-style: italic;
  text-align: center;

  }


.info{
    float:right;
    margin-top: -150px;
    z-index:0;

  }

  .info1{
    z-index:0;}


img{
 
  
}
.body{

}